.user-dashboard-container {
  display: flex;
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
}

.sidebar {
  background-color: #e8e8e8;
  color: rgb(8, 8, 8);
  width: 220px;
  padding: 20px;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.toggle-btn {
  background: none;
  border: none;
  color: rgb(19, 19, 19);
  font-size: 20px;
  cursor: pointer;
}


.menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu-item.active,
.menu-item:hover {
  background-color: #3b82f6;
}

.main-content {
  flex-grow: 1;
  background-color: #f3f4f6;
  padding: 30px;
  border-radius: 0 10px 10px 0;
}

.wallet-card {
  background: linear-gradient(135deg, #3b82f6, #60a5fa);
  color: white;
  padding: 24px;
  border-radius: 12px;
  max-width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

.wallet-card h2 {
  margin-bottom: 12px;
}

.wallet-card p {
  font-size: 32px;
  font-weight: bold;
}

.wallet-card button,
.book-btn {
  margin-top: 16px;
  background-color: white;
  color: #3b82f6;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.label32{
    color: black;
}
